/* h1{
    font-size: larger;
    font-weight: bold;
} */

body{
    padding: 10px;
}
.input-field{
    display: block;
    margin: 10px;
    height: 40px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    background-color: rgb(113, 204, 240);
    color: white;
    border: 0;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.add-user{
    margin-top: 100px;
    text-align: -webkit-center;
}

.user-item span{
    display: inline-block;
    width: 100px;
}