body {
    background-color: #cfbaba;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    height: 35px;
    width: 300px;
    padding: 10px 8px;
    border-radius: 5px;
    font-size: large;
}

.btn {
    width: 300px;
    padding: 15PX 10px;
    border-radius: 5px;
    font-size: largeR;
    background-color: #05505a;
    color: white;
}
.btn:hover {
    background-color: #b8590c;
    color: white;
}

.clrbtn {
    width: 300px;
    padding: 15PX 10px;
    border-radius: 5px;
    font-size: largeR;
    background-color: #971c06;
    color: white;
}
.clrbtn:hover {
    background-color: #b8590c;
    color: white;
}
.front-page{
    display: flex;
    gap: 10px;
}